<% if(blogs.length> 0) { %>
    <h2>Recent posts</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>

                <tr>
                    <th>#</th>
                    <th>title</th>
                    <th>date</th>
                    <th>status</th>
                    <th>Header</th>
                </tr>

            </thead>
            <tbody>
                <% for(let blog of blogs) { %>

                    <tr>
                        <td>
                            <%= blogs.indexOf(blog) + 1 %>
                        </td>
                        <td><a href="/blogs/<%= blog._id %>">
                                <%= blog.title %>
                            </a></td>
                        <td>
                            <%= blog.createdAt %>
                        </td>
                        <td> <span class="badge <%= blog.status === 'public' ? 'badge-success' : 'badge-warning' %> ">
                                <%= blog.status %>
                            </span> </td>
                        <td>Curabitur</td>
                    </tr>

                    <% } %>


            </tbody>
        </table>
    </div>

    <% } else { %>
        <div>
            <h3 class="mt-2"> No posts yet :-( </h3>
        </div>
        <% } %>